<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BookHorstman_Tom1/src/Glava_05/Task5_1_Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Glava_05.Task5_1_Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BookHorstman_Tom1"/>
</launchConfiguration>
